@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import "extends/mixins";
@import "extends/variables";
@import "components/menu";
@import "components/header";
@import "components/novidades";
@import "components/empresa";
@import "components/produto";
@import "components/instagram";
@import "components/contato";
@import "components/footer";


*{ 
	font-family: 'Montserrat', sans-serif;
	color: #3e4b57;
}
body{
	margin-top:60px;

}
.title{
	font-weight: bold;
    opacity: 1;
    text-transform: uppercase;
}
.button-main{
	background: #f2f5f6;
    color: #446cb3;
    border-radius: 0px;
    border: 0px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 30px;
    padding: 15px 24px;
}