.menu{
    background:#5d8db5;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 60px;

    ul li a{

        color:#fff;
        &:hover{
            background: none;
        }
    }
}
