.novidades{
	margin-top: 20px;
	color: #fff;
	text-align: center;
	height: 900px !important;
	overflow: hidden;
	color: #fff;


	img{
		width: 100%;
		margin-top:20px;
	}
	.box-text{
		margin-top:20px;
		background: #336fa1;
		height: 323px;
		padding: 60px;
		letter-spacing: 1.2px;
		color: #fff;
		
		hr{
			height: 3px;
			margin-bottom: 30px;
		}
		h1{
			text-transform: uppercase;
			font-weight: bold;
		}
		p{	
			margin: 0 auto;
			margin-top: 30px;
			width: 340px;
			color: #fff;
		}
	}
}